/* Our features 
Наши особенности */
/* создаем объекты флекс и активируем возможность переноса строки для них */

.features {
  @extend %list;

  text-align: left;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  /* устанавливаем ширину контента для элементов */
  &__item {
    display: block;
    margin: 0;
    padding-left: 0;
    // text-align: left;
    // text-align: center;
    width: 100%;

    @include for-size(tablet) {
      width: calc((100% - 30px * 2) / 2);
      margin: 15px;
      text-align: left;
    }
    @include for-size(desktop) {
      width: calc((100% - 30px * 4) / 4);
    }

    /* задаем отступы между элементами, марджины */
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  /* задаем шрифты, убираем дефолтные марджины  */
  &__title {
    color: $title-text-color;
    @extend %features-font;
    margin: 0 0 10px 0;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  /* контейнеры иконок */
  &__holder {
    @extend %flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
    width: 100%;
    height: 120px;
    background-color: $alt-bg-color;
  }
  /* размер иконок */
  &__icon {
    width: 70px;
    height: 70px;
  }
  /* убираем марджины у абзацев */
  &__text {
    margin: 0;
  }
}
