// Portfolio page
/* задаем фильтрбоксу вертикальные отступы 
с центрированием элементов по горизонтали*/

.filter {
  width: 100%;
  @extend %flex;
  @extend %list;
  margin: -8px -4px;
  justify-content: flex-start;

  @include for-size(tablet) {
    justify-content: center;
  }
  /* задаем отступы для всех кроме последней кнопок*/
  &__item {
    margin: 8px 4px;
  }
  /* filter button задаем шрифты и геометрию кнопок */
  &__button {
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;

    color: $title-text-color;
    background-color: $alt-bg-color;
    font-family: inherit;
    font-style: normal;
    @include font($font-size-second, 1.62, $font-weight-third);

    letter-spacing: $letter-spacing-base;
    /* animation */
    transition: all $time-animation $function-animation;
    /* окраска при ховере фокусе */
    &:hover,
    &:focus {
      color: $white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
