/* footer */
/* задаем отступы для футера */
/* цвет иконок в футере */

.footer {
  padding: 60px 0;
  margin: 0 auto;
  background-color: $secondary-bg-color;
  align-content: center;
  // @include for-size(mobile) {
  //   max-width: 480px;
  // }
  // @include for-size(tablet) {
  //   max-width: 768px;
  // }
  // @include for-size(desktop) {
  //   max-width: 1600px;
  // }
}
/* адресс */
/* делаем контент лого+адресс шириной на четверть от ширины страницы */
.address {
  display: block;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }

  // width: calc((100% - 30px * 3) / 4);
  @include for-size(tablet) {
    width: calc((100% - 30px * 2) / 2);
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
  }
  &__holder {
    color: $white-color;
    font-style: normal;
  }
  &__street {
    color: $white-color;
    font-style: normal;
  }
  /* footer contacts links */
  /* задаем ссылкам вертикальные отступы */
  &__link {
    display: block;
    margin: 9px 0 0;

    color: $footer-link-color;
    font-style: normal;

    transition: color $time-animation $function-animation;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

// кусок содержащий ссылки на социалки
.follow {
  display: block;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    justify-content: center;
  }

  // width: calc((100% - 30px * 3) / 4);
  // margin: 0 0 0 30px;
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px * 2) / 2);
    margin: 0 0 0 30px;
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
  }

  &__title {
    @extend %footer-title;

    @include for-size(desktop) {
      text-align: left;
    }
  }
  &__list {
    @extend %list;
    @extend %flex;
    justify-content: center;
    @include for-size(desktop) {
    }
  }
  &__link {
    @extend %flex;
    color: $white-color;
    background-color: $footer-icon-bg-color;
    transition: background-color $time-animation $function-animation;
    @extend %icon;
    /* цвет иконок при ховере */
    &:hover {
      @extend %hover-color;
    }
  }
  &__item {
    @extend %flex;
    width: 44px;
    height: 44px;
    &:not(:nth-child(4n + 1)) {
      margin-left: 10px;
    }
  }
}

/* заголовок соцсетей*/
/* submit-footer div */
.submit {
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 450px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
  }
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
    margin-left: 30px;
  }

  &__title {
    width: 100%;
    @extend %footer-title;
    @include for-size(desktop) {
      text-align: left;
    }
  }
  &__label {
    // max-width: 358px;
    flex-grow: 1;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* тень */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $secondary-bg-color;
    font-weight: $font-weight-second;
    font-size: $font-size-second;
    line-height: 1.25;
    letter-spacing: $letter-spacing-base;
    color: rgba(255, 255, 255, 0.6);
    transition: all $time-animation $function-animation;
    &:focus {
      @extend %modal-focus;
    }
  }
}
