/* header */
.header {
  /* fixed header */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;
  /* центрируем элементы в хедере по вертикали, 
 добавляем паддинги уменьшены отступы на ширину border-top и border-bottom*/
  align-items: center;
  @include for-size(tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include for-size(desktop) {
    padding-top: 23px;
    padding-bottom: 24px;
  }

  background-color: $white-color;
  font-weight: $font-weight-third;
  font-size: $font-size-base;
  line-height: $line-height-second;
  letter-spacing: 0.02em;
  /* добавлям линии согласно макета */
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ececec;
}

/* навигация по сайту */
.links {
  @extend %flex;
  @extend %list;

  & li + li {
    margin-left: 50px;
  }
  &__item {
    transition: color $time-animation $function-animation;
    color: $title-text-color;
    // цвет при фокусе ховере и текущей страницы
    &.links__item--current,
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--big {
      @extend %big-paddings;
    }
    &--current {
      position: relative;
      &::after {
        position: absolute;

        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        @include for-size(tablet) {
          bottom: -31px;
        }
        @include for-size(desktop) {
          bottom: -27px;
        }

        background: $accent-color;
        border-radius: 2px;
        opacity: 1;
        /* transition: opacity $time-animation $function-animation; */
      }
    }
  }
}
/* центрируем элементы */
.navigation {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
.contact {
  display: block;
  @extend %list;
  @include for-size(desktop) {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    @extend %flex;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      @include font(12px, 1.17, $font-weight-third);
    }
    transition: color $time-animation $function-animation;
  }
  &__item:hover,
  &__item:focus {
    color: $accent-color;
  }
  /* расширяем зону активации ссылок в шапке для лучшего юзабилити */
  &__item--big {
    @extend %big-paddings;
  }
  & li + li {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 10px;
    }
    @include for-size(desktop) {
      margin-left: 30px;
    }
  } /* иконка почты */
  &__mail-icon {
    align-self: center;
    margin: 0 10px 0 0;
    width: 16px;
    height: 12px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 14px;
      height: 10px;
    }
    fill: currentColor;
  }
  /* иконка телефона */
  &__phone-icon {
    display: block;
    align-self: center;
    margin: 0 10px 0 0;
    width: 10px;
    height: 16px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }
    fill: currentColor;
  }
}
