/* Our team */
/* флекс элементы списку задали ранее */
/* задаем шрифт и цвет секции */
/* задаем отступ до секций соседей */

/* задаем ширину контента, тень карточке,и ориентацию текста */
.team {
  @extend %list;
  @include font($font-size-second, 1.19, $font-weight-second);

  @include for-size(tablet) {
    margin: -15px;
  }

  &__item {
    display: block;

    // width: 100%;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    @include for-size(tablet) {
      width: calc((100% - 30px * 2) / 2);
      margin: 15px;
    }
    @include for-size(desktop) {
      width: calc((100% - 30px * 4) / 4);
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  /* our team title font,
 задаем марджин до картинки и до абзаца*/
  &__title {
    margin: 30px 0 10px;
    font-size: 1em;
    font-weight: $font-weight-third;
    color: $title-text-color;
    letter-spacing: $letter-spacing-base;
  }
  /* отступ для формы карточки */
  &__text {
    margin: 0 0 16px 0;
  }
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}
