/* устанавливаем тип блочной модели для документа */

html {
  box-sizing: border-box;
  // outline: 4px solid red;
}
body {
  
  background-color: $white-color;
  color: $primary-text-color;
  font-family: $font-base;
  font-weight: $font-weight-second;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  padding-top: 60px;
  @include for-size(desktop) {
    padding-top: 80px;
  }
}
body.modal-open {
  overflow: hidden;
}
// задаем картинкам блочное поведение
img {
  display: block;
  width: 100%;
  height: auto;
}
/* убираем подчеркивание у ссылок, включаем наследование от родителя*/
a {
  color: inherit;
  text-decoration: none;
}

// класс визуальной невидимки
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// секции
.section {
  padding: 60px 0;
  @include for-size(desktop) {
    padding: 94px 0;
  }
  /* section title заголовок: шрифты, убираем дефолтные марджины*/
  &__title {
    margin: 0 auto 30px;
    color: $title-text-color;
    @include font(28px, 1.17, $font-weight-base);

    text-align: center;
    letter-spacing: $letter-spacing-base;
    @include for-size(desktop) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  /* отступ до следующей секции */
  &--whatwedo {
    // padding-bottom: 94px;
    padding: 0 0 94px 0;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  &--team {
    // padding: 60px 0;
    // padding: 94px 0;
    background-color: $alt-bg-color;
    font-size: $font-size-second;
    line-height: 1.19;
    letter-spacing: $letter-spacing-base;
    // @include for-size(desktop) {
    //   padding: 94px 0;
    // }
  }
  // &--pudding {
  // padding: 60px 0;
  // @include for-size(desktop) {
  //   padding: 94px 0;
  // }
  // }
}

/* hero button кнопка общая*/
.button {
  box-sizing: border-box;
  padding: 10px 32px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $white-color;
  background-color: $accent-color;

  @include font($font-size-second, 1.87, $font-weight-base);
  // font-weight: $font-weight-base;
  // font-size: $font-size-second;
  // line-height: 1.87;
  letter-spacing: $letter-spacing-second;
  text-align: center;

  transition: background-color $time-animation $function-animation;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  &--submit {
    width: 200px;
    padding: 10px 0px 10px 29px;
    background-image: url("../img/icon-telegram.svg");
    background-repeat: no-repeat;
    background-position: center right 28px;
    text-align: left;
    @media screen and (max-width: 1199px) {
      display: block;
      margin: 20px auto 0;
    }
    @include for-size(desktop) {
      margin-left: 12px;
    }
  }
}

/* создаем контейнер для контента */
.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 479px) {
    max-width: 480px;
  }
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }

  &--header {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 767px) {
      padding: 10px 15px;
    }
  }
  &--footer {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
  &--forfilter {
    @extend %flex;
    padding: 60px 15px 40px;
    @include for-size(tablet) {
      padding-bottom: 30px;
    }

    @include for-size(desktop) {
      padding: 94px 15px 50px;
    }
  }
  &--forprojects {
    @extend %flex;
    padding-bottom: 94px;
  }
}

/* общие настройки для иконок */
.icon {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
// Социальные сети

.social {
  @extend %flex;
  @extend %list;
  max-width: 206px;
  margin: 0 auto;
  // calc(44px * 4 +10px * 3);
  justify-content: center;
  padding-bottom: 24px;
  // padding-bottom: 30px;
  /* цвет иконок социал */
  @include for-size(desktop) {
    padding-bottom: 30px;
  }
  &__link {
    @extend %flex;
    color: $icon-color;
    background-color: $white-color;
    transition: color $time-animation $function-animation,
      background-color $time-animation $function-animation;
    @extend %icon;
    &:hover {
      @extend %hover-color;
    }
  }
  /* иконки */
  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  &__item {
    width: 44px;
    height: 44px;
    &:not(:nth-child(4n + 1)) {
      margin-left: 10px;
    }
  }
}
/* раскрасим логотип */
.logo {
  @include font(24px, 1.17, $font-weight-base);
  font-family: $font-logo;

  @include for-size(tablet) {
    margin-right: 88px;
  }

  letter-spacing: $letter-spacing-base;
  @include for-size(desktop) {
    margin-right: 93px;

    font-size: 26px;
    line-height: 1.2;
  }
  &--header {
    color: $title-text-color;
  }
  &--footer {
    display: block;
    margin: 0 0 20px 0;
    color: $white-color;
  }
  &--accent {
    color: $accent-color;
  }
}
