/* устанавливаем тип блочной модели для документа */

html {
  box-sizing: border-box;
}
body {
  background-color: $white-color;
  color: $primary-text-color;
  font-family: $font-base;
  font-weight: $font-weight-second;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;

  padding-top: 80px;
}
// задаем картинкам блочное поведение
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* убираем подчеркивание у ссылок, включаем наследование от родителя*/
a {
  color: inherit;
  text-decoration: none;
}

// класс визуальной невидимки
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// секции
.section {
  /* section title заголовок: шрифты, убираем дефолтные марджины*/
  &__title {
    margin: 0 auto 50px;
    color: $title-text-color;
    font-weight: $font-weight-base;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: $letter-spacing-base;
  }
  /* отступ до следующей секции */
  &--whatwedo {
    padding-bottom: 94px;
  }
  &--team {
    padding: 94px 0;
    background-color: $alt-bg-color;
    font-size: $font-size-second;
    line-height: 1.19;
    letter-spacing: $letter-spacing-base;
  }
  &--pudding {
    padding: 94px 0;
  }
}

/* modal window */
/* hiden */
/* background modal */
.backdrop {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $time-animation $function-animation;
  /* window animation */
  &.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  &.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
  }
}

/* hero button кнопка общая*/
.button {
  box-sizing: border-box;
  padding: 10px 32px;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $white-color;
  background-color: $accent-color;

  font-weight: $font-weight-base;
  font-size: $font-size-second;
  line-height: 1.87;
  letter-spacing: $letter-spacing-second;
  text-align: center;

  transition: background-color $time-animation $function-animation;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
  &--submit {
    width: 200px;
    margin-left: 12px;
    padding: 10px 0px 10px 29px;
    background-image: url("../img/icon-telegram.svg");
    background-repeat: no-repeat;
    background-position: center right 28px;
    text-align: left;
  }
}

/* создаем контейнер для контента */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &--header {
    @extend %flex;
  }
  &--footer {
    @extend %flex;
    align-items: baseline;
  }
  &--forfilter {
    @extend %flex;
    padding: 94px 0 50px;
  }
  &--forprojects {
    @extend %flex;
    padding-bottom: 94px;
  }
}

/* общие настройки для иконок */
.icon {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
// Социальные сети

.social {
  @extend %flex;
  @extend %list;
  width: calc(100% - 32px * 2);
  margin: 0 auto;
  padding-bottom: 30px;
  /* цвет иконок социал */
  &__link {
    @extend %flex;
    color: $icon-color;
    background-color: $white-color;
    transition: color $time-animation $function-animation,
      background-color $time-animation $function-animation;
    @extend %icon;
    &:hover {
      @extend %hover-color;
    }
  }
  /* иконки */
  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  &__item {
    width: 44px;
    height: 44px;
    &:not(:nth-child(4n + 1)) {
      margin-left: 10px;
    }
  }
}
/* раскрасим логотип */
.logo {
  margin-right: 93px;

  font-family: $font-logo;
  font-weight: $font-weight-base;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: $letter-spacing-base;
  &--header {
    color: $title-text-color;
  }
  &--footer {
    display: block;
    margin: 0 0 20px 0;
    color: $white-color;
  }
  &--accent {
    color: $accent-color;
  }
}
