$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$icon-color: #afb1b8;
$alt-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$footer-icon-bg-color: rgba(255, 255, 255, 0.1);
$time-animation: 250ms;
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);

// для переменных выбирались значения по частоте встречаемости в коде - самые частые значения - Base
$font-logo: "Raleway", sans-serif;
$font-base: "Roboto", sans-serif;

$font-weight-base: 700;
$font-weight-second: 400;
$font-weight-third: 500;

$font-size-base: 14px;
$font-size-second: 16px;

$line-height-base: 1.71;
$line-height-second: 1.14;

$letter-spacing-base: 0.03em;
$letter-spacing-second: 0.06em;
